<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONG Checker Paths</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            text-align: center;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 20px 0;
            box-sizing: border-box;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>KONG Checker Paths</h1>
        <input type="text" id="filterInput" placeholder="Type to check paths or ports...">
        <div id="loading" style="display: none;">Loading...</div>
        <table>
            <thead>
                <tr>
                    <th>KONG</th>
                    <th>ENV</th>
                    <th>Service Name</th>
                    <th>Path</th>
                    <th>Port</th>
                </tr>
            </thead>
            <tbody id="pathList"></tbody>
        </table>
    </div>
    <script>
        const envMap = {
            'http://10.26.129.137:8001/routes': 'INT UAT3',
            'http://10.26.129.135:8001/routes': 'INT SIT2',
            'http://10.26.129.133:8001/routes': 'INT DEV2',
            'http://10.26.129.169:8001/routes': 'EXT UAT3',
            'http://10.26.129.167:8001/routes': 'EXT SIT2',
            'http://10.26.129.165:8001/routes': 'EXT DEV2'
        };

        const getEnv = (url) => {
            return envMap[url] || 'Unknown';
        };

        const showLoading = () => {
            document.getElementById('loading').style.display = 'block';
        };

        const hideLoading = () => {
            document.getElementById('loading').style.display = 'none';
        };

        const fetchData = () => {
            showLoading();
            fetch('/paths')
                .then(response => response.json())
                .then(data => {
                    hideLoading();
                    const paths = data;
                    const filterInput = document.getElementById('filterInput');
                    const pathList = document.getElementById('pathList');

                    const displayPaths = (paths) => {
                        pathList.innerHTML = '';
                        let previousUrl = '';
                        let previousRow = null;
                        let rowspan = 1;

                        paths.forEach((item, index) => {
                            const tr = document.createElement('tr');
                            const tdPath = document.createElement('td');
                            const tdPort = document.createElement('td');
                            const tdSvc = document.createElement('td');
                            tdPath.textContent = item.path;
                            tdPort.textContent = item.port;
                            tdSvc.textContent = item.svc;

                            if (item.url === previousUrl) {
                                rowspan++;
                                if (previousRow) {
                                    previousRow.children[0].rowSpan = rowspan;
                                    previousRow.children[1].rowSpan = rowspan;
                                }
                            } else {
                                const tdUrl = document.createElement('td');
                                tdUrl.textContent = item.url.toString().match(/^(?:https?:\/\/)?(?:www\.)?([^\/:]+)/)[1];
                                tdUrl.rowSpan = 1;
                                tr.appendChild(tdUrl);

                                const tdEnv = document.createElement('td');
                                tdEnv.textContent = getEnv(item.url);
                                tdEnv.rowSpan = 1;
                                tr.appendChild(tdEnv);

                                rowspan = 1;
                                previousRow = tr;
                            }

                            tr.appendChild(tdSvc);
                            tr.appendChild(tdPath);
                            tr.appendChild(tdPort);
                            pathList.appendChild(tr);

                            previousUrl = item.url;
                        });
                    };

                    filterInput.addEventListener('input', () => {
                        const filterValue = filterInput.value.toLowerCase();

                        let filteredPaths;
                        if (!isNaN(filterValue) && filterValue.trim() !== '') {
                            filteredPaths = paths.filter(item => item.port.includes(filterValue));
                        } else {
                            filteredPaths = paths.filter(item => item.path.toLowerCase().includes(filterValue));
                        }
                        displayPaths(filteredPaths);
                    });

                    displayPaths(paths);
                })
                .catch(error => {
                    hideLoading();
                    console.error('Error fetching paths:', error);
                });
        };

        fetchData();
    </script>
</body>